/* footer styles */

footer.container-fluid {
  padding: 20px 20px 0 20px;
  background: #0c203b;
  color: #ddd;
  border-top: 5px solid;

  a {
    color: #ddd;
  }

  h2 {
    font-size: 24px;
  }
}

/* footer styles ends */
