
/* ==============================================
*
* Print styles
*
* ============================================== */
@media print {


  /**
  * Defaults
  */
  html,
  body {
    color: #222 !important;
  }

  a,
  a:visited {
    color: #666 !important;
  }

  a[href]:after {
    content: "" !important;
  }

  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    color: #222 !important;
  }


} // END: Print styles
